*{margin:0;padding:0;}
.masud{
    width: 960px;
	
}
#wrapper{
    margin:0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
   border: 3px solid #646A00;
    background-color:#FBB829 ;
    border-top: 0px;
    border-left:0px;
    border-right: 0px;
}
#m4{
    margin-top:0px;
}
#menu{
	padding:0;
	list-style-type:none;
	width:960px;
	background:#4E4E4E;
	border-bottom:3px solid #646A00;
	min-height:38px;
	
}
#menu li{
	float:left;
	border-right:1px solid #605B5B;
	border-left:1px solid #2B2A2A;
	position:relative;
	
}

#menu li:last-child{
	border-right:none;
}
#menu li:first-child{
	border-left:none;
}
#menu li a{
	color:#fff;
	text-decoration:none;
	background:#4E4E4E;
	padding:10px 20px;
	display:block;
	transition:0.3s all ease;
}
#menu li a:hover{
	background:orange;
}


#menu li ul{
	list-style-type:none;
	padding:0;
	position:absolute;
	left:-99999px;
	/*transition:0.5s all ease;*/
}
#menu li:hover ul{
	left:0;
}

#menu li ul li{
	float:none;
	border-right:none;
	border-left:none;
	border-top:1px solid #605B5B;
	border-bottom:1px solid #2B2A2A;	
	width:200px;
	position:relative;
}


 
#menu li ul li ul{
	position:absolute;
	top:-999999px;
}
#menu li ul li:hover ul{
	top:0;
	left:200px;
}
#m7{
    
    margin-bottom:-4px;
    padding: 0px;
    
}
article h2{
    color:#464b04;
    padding: 10px;
}
article p{
    padding:10px;
}
#m8{
	border-top:3px solid #646A00;
}

#m9{
    width:700px;
  
    float:left;
    margin-right:20px;
}
.#m10{
    width:200px;
    height:200px;
    float:left;
}
aside div h2{
    color:#464B04;
    padding:10px;
    padding-bottom:0px;
}
#m12{
    background-color:#58361b;
    color:white;
    padding:0px;
    text-align: center;
}
footer a{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
	color:#FBB829;
}